#app{
    margin-top: 20px;
    height: 100%;
}

#app>.ui.container{
    height: 100%;
}

#dashboard-grid{
    height: 100%;
}

.marginTop{
    margin-top: 20px;
}

.marginBottom{
    margin-bottom:20px;
}

#add-button{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 60px;
}

.modal-margin-top{
    margin-top: 150px !important;
    margin-left: 525px !important;
}

.ui.card>.content,
.ui.cards>.ui.card>.content.red{
    background-color: crimson;
}

.ui.card>.content,
.ui.cards>.ui.card>.content.orange {
    background-color: coral;
}

.ui.card>.content,
.ui.cards>.ui.card>.content.yellow {
    background-color: goldenrod;
}

.ui.card>.content,
.ui.cards>.ui.card>.content.green {
    background-color: lightgreen;
}

.ui.card>.content,
.ui.cards>.ui.card>.content.blue {
    background-color: royalblue;
}

.ui.card>.content,
.ui.cards>.ui.card>.content>.header {
    color: white;
}


.ui.card>.content,
.ui.cards>.ui.card>.content>.meta {
    color: white;
}

.ui.card>.extra.content,
.ui.cards>.ui.card>.extra.content {
    background-color: transparent;
}